.header-logo {
  font-family: Raleway;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  margin-top: 24px;
  margin-bottom: 25px;
  color: $primaryColor;

  &__hightlight {
    color: $accentColor;
  }
}
