.header-title {
  font-size: $fontSizeHeader;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: $buttonColor;
}
